.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.card{
  transition-property: transform, opacity;
  transition-duration: 500ms;
  margin: 16px 0;
  will-change: transform;
}

.card.noshow {
  transition-property: none;
  opacity: 0;
}

.cardHeader {
	padding: 16px;
}

.cardBody {
	padding: 16px
}


.leave .card{
  opacity: 0;
  transform: scale(0);
}