.profile {
	padding: 140px 20px 20px 20px;
	min-height: 100%;
  width: 100%;
}

.card {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0ms;
  animation-delay: 499ms;
  animation-fill-mode: forwards;
  z-index: 11;
  position: fixed;
  top: 50px;
  width: calc(100% - 40px);
}

.info {
  color: #999;
  display: flex;
}

.info .startdate {
  flex: 3
}

.info .stats{
  display: flex;
  color: #1DE9B6;
}

.infolist {
  margin-top: 16px;
}

.infodetails {
  opacity: 0;
  animation-delay: 700ms;
  animation-name: drop;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.customlistitem {
  padding: 0;
  opacity: 0;
  animation-name: drop;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.fablike, .fabwallet {
  position: fixed;
  bottom: 20px;
  left: 10%;
  background-color: #D32F2F;
  opacity: 0;
  animation-delay: 100ms;
  animation-name: rise;
  animation-duration: 300ms;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.fabwallet {
  background-color: #03A9F4;
  left: auto;
  right: 10%;
  animation-delay: 900ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-10px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:global(.firstview) .card {
  animation-delay: 0ms;
  animation-duration: 500ms;
}

:global(.firstview) .infodetails {
  animation-delay: 0ms;
}

:global(.firstview) .fablike, :global(.firstview) .fabwallet {
  animation-delay: 0ms;
}