.toolbar{
  background: #FAFAFA;
  color: #000;
  transition-property: opacity;
  transition-duration: 300ms;
}

.toolbar.details {
  opacity: 0;
}

.toolbar.profile{
  transform: translateY(-100%);
}

.detailsheader.details {
  transform: translateY(0%);
}

.sideicon {
  padding: 0 8px;
}